textarea {
    min-height: 400px;
}
#email-lines{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin :2px;
} 
#button{
    display:flex;
    flex-direction: row;
    width: 800px;
    margin:2px;
    background-color:white;
}