{% extends "mail/layout.html" %}
<!-- {% load static %} -->
<style> #emails-view{ width:100%} </style>
{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
        <div id="inbox-view">

        </div>
        
        <div id="send-view">

        </div>

        <div id="archive-view">

        </div>

    
     
    </div>

    <div id="email-detail">
        <div class="meta-div">
          <div id="sender-sender"> </div> <br>
          <div id="recipient-recipient">  </div> <br>
          <div id="timestamp-timestamp"> </div><br>
          <div id="subject-subject"> </div><br>
        </div>

          <div id="body-body"></div> 
          <div class="toggle-btn">     
         <button id="archive">Archive</button>  <button id="unarchive">Unarchive</button>  <button id="replay">Replay</button>
         </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input type="email" id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
<div id="new"> </div>
   
{% endblock %}

<!-- {% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %} -->